<!-- templates/welcome.hbs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Boas-vindas</title>
</head>
<body>
    <h1>Bem-vindo(a) ao nosso site, {{username}}!</h1>
    <p>
        Estamos felizes por você se juntar a nós! Para concluir seu cadastro, por favor, use o seguinte código de verificação:
    </p>
    <h2>{{code}}</h2>
    <p>Se você não solicitou esse código, por favor, ignore este e-mail.</p>
</body>
</html>
